.auth {
	display: flex;
	justify-content: center;
}

.auth-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 480px;
}

.auth-input,
.auth-button {
	width: 100%;
	height: 40px;
	padding: 0 8px;
	border-radius: 4px;
	margin-bottom: 16px;
}

.auth-button {
	color: white;
	background-color: #2f7dfc;
	border: 0px solid transparent;
	cursor: pointer;
	transition: .2s linear;
}

.auth-button:hover {
	background-color: #1e5eae;
}