.product {
	width: 33.3333%;
	padding: 0 8px;
	margin-bottom: 40px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.product-add {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .3);
	transition: .3s linear;
	color: #2f7dfc;
	font-size: 48px;
}

.product-add:hover {
	background-color: rgba(0, 0, 0, .5);
}

.product-img-wrap {
	position: relative;
	font-size: 0;
}

.product-img {
	width: 100%;
}

.product-name {
	text-align: center;
}

.product-price {
	font-weight: bold;
}